.item_user_box1
  .item_img
  .item_body
    .item_name Tシャツ
    .item_price_wrapper
      .item_price_ ¥150
      .item_heart_icon_wrapper
        .item_heart_icon
        .item_heart_quantity 8
  .item_user_box1
  .item_img
  .item_body
    .item_name Tシャツ
    .item_price_wrapper
      .item_price_ ¥150
      .item_heart_icon_wrapper
        .item_heart_icon
        .item_heart_quantity 8
  .item_user_box1
  .item_img
  .item_body
    .item_name Tシャツ
    .item_price_wrapper
      .item_price_ ¥150
      .item_heart_icon_wrapper
        .item_heart_icon
        .item_heart_quantity 8
.item_user_box1
  .item_img
  .item_body
    .item_name Tシャツ
    .item_price_wrapper
      .item_price_ ¥150
      .item_heart_icon_wrapper
        .item_heart_icon
        .item_heart_quantity 8
.item_user_box1
  .item_img
  .item_body
    .item_name Tシャツ
    .item_price_wrapper
      .item_price_ ¥150
      .item_heart_icon_wrapper
        .item_heart_icon
        .item_heart_quantity 8
.item_user_box1
  .item_img
  .item_body
    .item_name Tシャツ
    .item_price_wrapper
      .item_price_ ¥150
      .item_heart_icon_wrapper
        .item_heart_icon
        .item_heart_quantity 8