.item_detail_all
  .item_detail_name ジャケット
  .item_detail_wrapper
    .item_detail_img_wrapper
      .item_detail_img
        .item_detail_img_big
        .item_detail_img_small_all
          .item_detail_img_small
          .item_detail_img_small
          .item_detail_img_small
          .item_detail_img_small
          .item_detail_img_small
          .item_detail_img_small
          .item_detail_img_small
          .item_detail_img_small
          .item_detail_img_small
          .item_detail_img_small
    .item_detail_information 
      %table{:border => "1"}
        %tr
          %th 出品者
          %td ina
        %tr
          %th カテゴリー
          %td 服
        %tr
          %th ブランド
          %td アルマーニ
        %tr
          %th 商品のサイズ
          %td M
        %tr
          %th 商品の状態
          %td 良い
        %tr
          %th 配送料の負担
          %td 送料込み（出品者負担）
        %tr
          %th 配送の方法
          %td 郵便
        %tr
          %th 発送元地域
          %td 東京都
        %tr
          %th 発送の目安
          %td １日
  .item_detail_price_wrapper
    .item_detail_price ¥2000
    .item_detail_tax （税込）
    .item_detail_postage 送料込み
  .item_buy_wrapper
    .item_buy 購入画面に進む
  .itme_explanation_wrapper
    .item_explanation ジャケット S 着丈67肩幅39袖丈61,品番はST-12030505です。①フォロー割引→10%off②リピート割引→15%off③まとめ買い割引→2点15%off、3点18%off、4点以上20%off
  .item_butan_wrapper
    .item_butan
      .item_iine_wrapper
        .item_iine_icon
        .item_iine いいね！
        .item_iine_quantity 12
      .item_inappropriate_wrapper
        .item_inappropriate_icon
        .item_inappropriate 不適切な商品の報告
    .safe_wrapper
      .safe_icon
      .safe あんしん・あんぜんへの取り組み
.item_comment_all
  .item_comment_wrapper
    .item_comment
      .item_message_wrapper
        .item_message
          .item_user_icon
          .item_user_name 氏名
          .item_user_message_wrapper
            .item_user_message
              .item_message_icon_wrapper
                .item_message_time_wrapper
                  .item_message_time_icon a
                  .item_message_time 1日前
                .item_inappropriate_icon_hata
    .item_comment_input_all
      .item_comment_input_wrapper
        .item_comment_note 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %text_area.item_comment_input
        .item_comment_input_buttun コメントする
.item_detail_link_all
  .item_detail_link_wrapper
    .item_detail_link_left_wrapper
      .item_detail_link_left_angle_bracket <
      .item_detail_link_left_name 商品名
    .item_detail_link_right_wrapper
      .item_detail_link_right_name 商品名
      .item_detail_link_right_angle_bracket >
.item_media_all
  .item_media_wrapper
    %wa.item_facebook
      .item_facebook_icon
    %wa.item_twitter
      .item_twitter_icon
    %wa.item_pinterest
      .item_pinterest_icon
.item_user_etc_all
  .item_user_etc_wrapper
    .item_user_etc_select1
      .item_user_etc_header_wrapper
        .item_user_etc_header ユーザーのその他商品
      .item_user_etc_window
        = render 'item_detail_etc'

    .item_user_etc_select1
      .item_user_etc_header_wrapper
        .item_user_etc_header ユーザーのその他商品
      .item_user_etc_window
        = render 'item_detail_etc'