-# ↓人気のカテゴリ、人気のブランドの部分テンプレ
.popular
  %h2.popular__header
    人気のカテゴリー
  %ul.popular__categories-list
    %li.popular__category
      レディース
    %li.popular__category
      メンズ
    %li.popular__category
      シースー
    %li.popular__category
      おもちゃ・ホビー・グッズ

-# ↓〇〇新着アイテムの部分テンプレ
.newitems-header__wrapper
  .newitems-header__left
    シースー新着アイテム
    %a{href: '#' ,class: 'newitems-header__right'}
      もっと見る
      
-# ↓アイテムリストの部分テンプレ　5×2ver
.lists_wrapper
  .items-lists
    %ul.toplist
      %li.item-wrapper
        .item
          .item__img
            .item__price
              .item__price-mask
                .price
                  ¥1,000,000
          .item__text-wrapper
            .item__text
              【送料無料】【送料無料】【送料無料】【送料無料】【送料無料】【送料無料】
              .item__text-gradient
      %li.item-wrapper
        .item
          .item__img
            .item__price
              .item__price-mask
                .price
                  ¥1,000,000
          .item__text-wrapper
            .item__text
              fujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロ
              .item__text-gradient
      %li.item-wrapper
        .item
          .item__img
            .item__price
              .item__price-mask
                .price
                  ¥1,000,000
          .item__text-wrapper
            .item__text
              fujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロ
              .item__text-gradient
      %li.item-wrapper
        .item
          .item__img
            .item__price
              .item__price-mask
                .price
                  ¥1,000,000
          .item__text-wrapper
            .item__text
              fujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロ
              .item__text-gradient
      %li.item-wrapper
        .item
          .item__img
            .item__price
              .item__price-mask
                .price
                  ¥1,000,000
          .item__text-wrapper
            .item__text
              fujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロ
              .item__text-gradient
    %ul.bottomlist
      %li.item-wrapper
        .item
          .item__img
            .item__price
              .item__price-mask
                .price
                  ¥　ASK
          .item__text-wrapper
            .item__text
              fujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロ
              .item__text-gradient
      %li.item-wrapper
        .item
          .item__img
            .item__price
              .item__price-mask
                .price
                  ¥1,000,000
          .item__text-wrapper
            .item__text
              fujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロ
              .item__text-gradient
      %li.item-wrapper
        .item
          .item__img
            .item__price
              .item__price-mask
                .price
                  ¥1,000,000
          .item__text-wrapper
            .item__text
              fujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロ
              .item__text-gradient
      %li.item-wrapper
        .item
          .item__img
            .item__price
              .item__price-mask
                .price
                  ¥1,000,000
          .item__text-wrapper
            .item__text
              fujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロ
              .item__text-gradient
      %li.item-wrapper
        .item
          .item__img
            .item__price
              .item__price-mask
                .price
                  ¥1,000,000
          .item__text-wrapper
            .item__text
              fujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロfujita御用達トロ
              .item__text-gradient

.putup
  .putup__text
    出品
  .putup__img