%li.item-wrapper
  .item
    .item__img-wrapper
      = image_tag item.images[0].image , class: 'item__img' 
    .item__price
      .item__price-mask
        .price
          =  "¥ #{item.price.to_s(:delimited)}"
    .item__text-wrapper
      .item__text
        = item.name
        .item__text-gradient