.mypage-card{
  &_1{
  width: 700px;
  height: 40px;
  font-size: 24px;
  padding: 8px 24px;
  text-align: center;
  background-color: white;
  font-weight: bold;
  border-bottom: 1px solid #f5f5f5;
  }
  &_2{
    width: 700px;
    height: 600px;
    background-color: white;
    &-1{
      width: 343px;
      margin: 0 auto;
    }
  }
  &_3{
    padding-top: 20px;
  }
  &_4{
    width: 343px;
    height: 48px;
    font-size: large;
  }
  &_5{
    margin: 0 auto;
    padding-top: 20px;
  }
  &_6{
    display: flex;
  }
  &_7{
    width:130px;
    height: 50px;
    font-size: large;
  }
  &_8{
    padding-top: 20px;
  }
  &_9{
    width: 343px;
    height: 48px;
    font-size: large;
  }
  &_10{
    margin: 20px 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
  }
}
.signup-card-list{
  text-align: center;
  & li{
    display: inline-block;
  }
}
.select-wrap{
  margin: 0 auto;
}
.input-default{
  width: 343px;
  height: 48px;
  font-size: large;
}
.signup-seqcode-info{
  display: none;
}
.signup-seqcode-text{
  color: #0099e8;
}
.form-question{
  color: #fff;
}

