.main-header{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  height: 95px;
  z-index: 5;
}

.header_warpper{
  top: 0px;
  z-index: 3;
  position: relative;
  width: 1020px;
  margin: 0px auto;
  padding: 8px 0px 0px;
}

.header_all{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.icon_warpper{
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 40px;
  margin-right: 45px;
}

.header_icon{
  width: 134px;
  height: 36px;
  background-repeat: no-repeat;
}

.search_wrapper{
  position: relative;
  width: 100%;
}

.search_window{
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  height: 40px;
  line-height: 1.4em;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  padding: 0px 50px 0px 10px;
  transition: all 0.3s ease-out 0s;
}

.search_icon_wrapper{
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  -webkit-appearance: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px 4px 4px 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_icon{
  height: 14px;
  width: 14px;
  background-image: image-url('./img/search-icon.svg');
  background-repeat: no-repeat;
}

.header_buttum{
  float: left;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 8px;
  a{
  text-decoration: none;
  color: black;
  }
}

.categories_brands{
    display: flex;
    margin-left: -3px;
}

.categories{
  display: flex;
  cursor: pointer;
  height: 44px;
  position: relative;
  z-index: 3;
  padding: 0px 10px;
}

.menu_warpper{
  width: 20px;
  height: 44px;
  position: relative;
}

.menu_icon{
  position: absolute;
  margin: 0,auto;
  width: 20px;
  height: 12px;
  top:12px;
  background-image: url('./img/menu.svg');
  background-repeat: no-repeat;
}

.look_for_categories{
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    white-space: nowrap;
}

.brands{
  display: flex;
  cursor: pointer;
  height: 44px;
  position: relative;
  z-index: 3;
  padding: 0px 10px;
}

.tag_warpper{
  width: 20px;
  height: 44px;
  position: relative;
}

.tag_icon{
  position: absolute;
  margin: 0,auto;
  width: 20px;
  height: 12px;
  top:12px;
  background-image: url('./img/tag_red.svg');
  background-repeat: no-repeat;
}

.look_for_brands{
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  white-space: nowrap;
}

.header_buttum_right{
  float: right;
  display: flex;
  margin-top: 5px;
  li{
    display: flex;
    padding: 0px 14px;
    height: 44px;
    position: relative;
    a{
      color: black;
    text-decoration: none;
    }
  }
}


.iine_warpper{
  position: relative;
  height: 18px;
  width: 19px;
}

.iine_icon{
  position: absolute;
  width: 18px;
  height: 17px;
  background-image: url('./img/heart_red.svg');
  background-repeat: no-repeat;
}

.iine{
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 32px;
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
}

.oshirase_warpper{
  position: relative;
  height: 18px;
  width: 19px;
}

.oshirase_icon{
  position: absolute;
  width: 18px;
  height: 17px;
  background-image: url('./img/beru_red.svg');
  background-repeat: no-repeat;
}

.oshirase{
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 32px;
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
}

.check_warpper{
  position: relative;
  height: 18px;
  width: 19px;
}

.check_icon{
  position: absolute;
  width: 18px;
  height: 17px;
  background-image: url('./img/check_red.svg');
  background-repeat: no-repeat;
}

.check{
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 32px;
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
}

.my_warpper{
  position: relative;
  height: 18px;
  width: 19px;
}

.my_img{
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  // 適当な写真を張り付けています。
  background-image: image-url("./img/neko.jpeg");
}

.my{
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 32px;
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
}
