#payjp_checkout_box input[type=button]{
  background-color: #ea352d!important;
  background-image:none!important;
  border: none!important;
  border-radius: 0!important;
  padding: 0 0 0 0!important;
  font-size:24px!important;
  display: block;
  color: #fff;
  line-height: 56px;
  text-align: center;
  font-weight: 600;
  width: 620px;
  height: 60px;
}