- breadcrumb :mypage_logout
= render 'items/header'
= render 'shared/breadcrumb'
.mypage
  .mypage_2
    =render "side-ber"
    .mypage-right
      = link_to "ログアウト", destroy_user_session_path, method: :delete